/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");
a:link {
  color: #d62828;
  text-decoration: none;
}
a:hover{
  color: #f77f00;
  text-decoration: underline
}

body {
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
  background-color: #eae2b7;
}

/* Set the font family for any h1, h2, or h3 heading */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

article {
  padding: 50px 0;
  text-align: left;
}

article div {
  text-align: center;
  width: 100%;
}

p {
  line-height: 1.5;
}

/* The div container constrains the content width within the main container to 600px */
div {
  margin: auto;
  width: 600px;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 0 auto;
  display: block;
}

hr {
  border: 1px solid black;
}

/* Add your solution below */

.image-circle {
  border-radius: 50%;
  border: 2px solid #003049;
}

header {
  text-align: center;
}

header ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer {
  text-align: center;
}
